html, body {
  color: #484848;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  font-weight: normal;
  line-height: 1.4em;
  letter-spacing: .2em;
  overflow: hidden;
}
body {
  position: fixed;
  left: 0;
  width: 100%;
}
main {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url('../img/wallpaper.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
main>dl {
  position: relative;
  display: block;
}
main>dl>dt {
  position: relative;
  display: block;
  width: 100%;
  height: 2em;
  text-align: center;
}
main>dl>dt>p {
  letter-spacing: .2em;
  color: #d6d6d6;
  font-size: 1.2em;
  font-weight: bold;
}
main>dl>dd {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc( 100% - 4em );
  border-radius: 50%;
  border-collapse: collapse;
  overflow: hidden;
}
main>dl:nth-child(1)>dd {
  border: 1em solid rgba(230, 82, 34, 0.3);
}
main>dl:nth-child(2)>dd {
  border: 1em solid rgba(182, 230, 34, 0.3);
}
main>dl:nth-child(3)>dd {
  border: 1em solid rgba(230, 180, 34, 0.3);
}
main>dl>dd>div {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 50%;
  opacity: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
main>dl>dd>div::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
main>dl>dd>div::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 1em;
  letter-spacing: 0;
  line-height: 1em;
  margin: auto;
  font-weight: bold;
  text-align: center;
}
main>dl:nth-child(1)>dd>div::after {
  color: rgba(230, 82, 34, 0.5);
}
main>dl:nth-child(2)>dd>div::after {
  color: rgba(182, 230, 34, 0.5);
}
main>dl:nth-child(3)>dd>div::after {
  color: rgba(230, 180, 34, 0.5);
}
main>dl>dd>div:nth-child(1)::after {
  content: "+";
}
main>dl>dd>div:nth-child(2)::after {
  content: "-";
}
main>dl>dd>div:nth-child(1) {
  top: 0;
}
main>dl>dd>div:nth-child(2) {
  bottom: 0;
}
main>dl>dd>p {
  font-weight: bold;
}
p#reset {
  position: fixed;
  display: block;
  left:   0;
  right:  0;
  height: 3em;
  color: #cdcdcd;
  font-size: .8em;
  line-height: 3em;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid #cdcdcd;
  border-collapse: collapse;
  margin: 0 auto;
}
img#barcode {
  position: fixed;
  display: block;
  top:   0.7em;
  right: 1.0em;
  width: 2em;
  margin: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
div#qr_code {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  margin-top: -100vh;
  transition: margin-top .5s;
}
div#qr_code.view {
  margin-top: 0;
}
div#qr_code>img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  max-width: 222px;
}
/* スクリーン[縦] */
@media screen and (orientation: portrait) {
  body {
    top: -1em;
    height: calc(100% + 1em);
    padding-top: 1em;
    box-sizing: border-box;
  }
  main {
    flex-direction: column;
    padding-bottom: 5em;
  }
  main>dl {
    width: calc( 25vh - 2em );
    height: 25vh;
  }
  main>dl>dd>div:nth-child(1)::after {
    font-size: 18vw;
  }
  main>dl>dd>div:nth-child(2)::after {
    font-size: 23vw;
  }
  main>dl>dd>p {
    font-size: 10vw;
  }
  p#reset {
    bottom: 1.5em;
    width: 10em;
  }
}
/* スクリーン[横] */
@media screen and (orientation: landscape) {
  body {
    top: 0;
    height: 100%;
  }
  main {
    flex-direction: row;
    padding-bottom: 3em;
  }
  main>dl {
    width: calc( 30vw - 2em );
    height: 30vw;
  }
  main>dl>dd>div:nth-child(1)::after {
    font-size: 20vh;
  }
  main>dl>dd>div:nth-child(2)::after {
    font-size: 25vh;
  }
  main>dl>dd>p {
    font-size: 14vh;
  }
  p#reset {
    bottom: 2.5em;
    width: 15em;
  }
}